* {
  font-family: 'mplus-1p-light', Helvetica,'Helvetica Neue';
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.bold-text {
  font-weight: bold;
  font-family: mplus-1p-bold !important;
}
body {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.transition(@value) {
    -webkit-transition: @value;
    -moz-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.no-pad {
  padding: 0px;
}
.brown-btn {
  background-color: #A59169;
}
.bg-dark3 {background-color: #333333}
.text-white {color: #ffffff;}

tb-dark-white {background-color: #ffffff; color: #333333}
tb-white-dark {background-color: #333333; color: #ffffff}

.booking-container {
  background-color: #f9f9f9;
}

.container {
  max-width: 960px;
  width: 100%;
}

.cs-header {
  height: 290px;
  background-color: #121212;
  background-origin: padding-box, padding-box;
  background-position: center center;
  background-size: cover;
  position: relative;

  .header-toolbar {
    height: 30px;
  }

  .header-hotel-brief {
    height: 220px;
    color: #333333;
    font-size: 1.8rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    padding: 20px 0;
    > span {
      display: block;
    }
    .fa {
      font-size: 1.4rem;
    }
    .hotel-info {
      margin-top: 12px;
      font-size: 1rem;
      cursor: pointer;
      color: #ffffff;
      .fa {
        font-size: 0.9rem;
        margin-right: 6px;
      }
    }
  }

  .header-steps {
    position: absolute;
    bottom: 10px;

    .step-nav {
      span {
        display: inline-block;
      }
      .step-num {
        padding: 6px 9px;
        background: #333333;
        color: #ffffff;
        cursor: pointer;
        border-radius: 4px;
        &:hover {
          background: #333333;
          color: #ffffff;
        }
      }

      &.active {
        .step-text {
          background: #333333;
          color: #ffffff;
        }
      }

      .step-text {
        cursor: pointer;
        padding-left: 6px;
        background-color: rgba(0,0,0,0.4);
        color: #ffffff;
        border-radius: 0 4px 4px 0;
        padding: 4px 9px;
        font-family: Helvetica,'Helvetica Neue';
        font-size: 0.9rem;
        &:hover {
          background: #333333;
          color: #ffffff;
        }
      }

    }
  }
}

.cs-search-container {
  height: auto;
  min-height: 70px;
  border-bottom: 1px solid #cccccc;
  color: #333333;

  .container {
    cursor: pointer;
    .cs-search-button {
      color: #F5F5F5;
      background-color: #A59169;
      .fa {
        display:  none;
      }
    }

    &.editing {
      cursor: auto;
      background-color: #333333;
      .cs-search-summary {
        color: #f5f5f5;
       .content {
          .text {
            display: none;
          }
        }

        .cs-search-day {
          .field {
            display: block;
          }
          .title {
            .fa {
              color: #888888;
            }
          }
        }
      }
    }
  }

  .cs-search-button {
    float: right;
    line-height: 30px;
    padding: 20px 0;
    cursor: pointer;
    font-size: 1rem;

    span {
      font-family: Helvetica;
    }
    .fa {
      margin-left: 6px;
    }
  }

  .cs-search-summary {
    padding: 16px 0;
    color: #333333;
   .content {
      display: block;
      padding-top: 10px;
      .text {
        color: #939393;
        font-size: 0.95rem;
        line-height: 1.1rem;
        font-family: 'mplus-1p-regular';
      }
    }

    .cs-search-day {
      .left-i {
        margin-right: 8px;
      }

      .field {
        display: none;
      }
    }

    .cs-search-rooms {
      padding: 0px;
      .lb {
        color: #333333;
        display: block;
      }
    }
  }

  .cs-search-form {
    background-color: #333333;
    color: #f5f5f5;
    position: relative;
    padding-bottom: 20px;

    .cs-room {
      padding-top: 20px;
      .pad-top {
        padding-top: 12px;
      }
      .cs-room-title {
        margin-top: 8px;
        .cs-room-remove{
          color: #A59169;
          font-size: 0.8rem;
        }
      }
      .room-num {
        padding-top: 10px;
        padding-left: 6px;
      }
      .unit {
        padding-top: 8px;
        .fa {
          padding-left: 8px;
        }
      }
      .child-age {
        display: none;
      }
    }

  }
}
