header.cs-header(style="background-image: url(images/header-bg.jpg); background-repeat: no-repeat")
  .header-toolbar.col-xs-12
  h1.header-hotel-brief.col-xs-12
    span.hotel-name.bold-text Calmseas Nha Trang Hotel
    span.stars
      .fa.fa-star
      .fa.fa-star
      .fa.fa-star
    span.hotel-info
      .fa.fa-info-circle
      span Hotel information
  .header-steps.col-xs-12
    .container
      .step-nav.step-1.col-xs-4.col-md-4.text-left.active
        a(href="#").step-link(data-id="1")
          span.step-num 1
          span.step-text.hidden-xs Chọn phòng
      .step-nav.step-2.col-xs-4.col-md-4.text-center
        a(href="#").step-link(data-id="2")
          span.step-num 2
          span.step-text.hidden-xs Chọn gói cộng thêm
      .step-nav.step-3.col-xs-4.col-md-4.text-right
        a(href="#").step-link(data-id="3")
          span.step-num 3
          span.step-text.hidden-xs Đặt phòng
