.cs-steps.col-xs-12
  .container
    .step-nav.step-1.col-xs-4.col-md-4.active
      a(href="#").step-link(ng-click="goToStep1($event)")
        span.step-text Chọn phòng
    .step-nav.step-2.col-xs-4.col-md-4
      a(href="#").step-link(ng-click="goToStep2($event)")
        span.step-text Chọn gói cộng thêm
    .step-nav.step-3.col-xs-4.col-md-4
      a(href="#").step-link(ng-click="goToStep3($event)")
        span.step-text Đặt phòng
.clearfix
