header.cs-header(style="background-image: url(images/header-bg.jpg); background-repeat: no-repeat")
  .header-toolbar.col-xs-12
  h1.header-hotel-brief.col-xs-12
    span.hotel-name.bold-text Calmseas Nha Trang Hotel
    span.stars
      .fa.fa-star
      .fa.fa-star
      .fa.fa-star
    span.hotel-info
      .fa.fa-info-circle
      span Hotel information

