.container.no-pad.confirm.step-container.step-3
  h2.title  Xác nhận thông tin đặt phòng
  .header-caption.col-xs-12.no-pad
    span.title.col-xs-10.col-sm-12
      span.lb Thông tin đặt phòng
      span -
      span.time Từ ngày {{csSearchParams.checkin}} đến ngày {{csSearchParams.checkout}}
    span.col-xs-2.visible-xs
      span.fa.fa-caret-down
  .cs-hotel-info
    h3.hotel-name.col-xs-12 Calmseas Hotel
    .info.col-xs-12
      .field.col-xs-12
        span.prop Địa chỉ
        span.value  99 Phạm Văn Đồng - Vĩnh Hải - Nha Trang - Khánh Hoà
      .field.col-xs-12
        span.prop Thời gian mở cửa
        span.value  24/24h
      .field.col-xs-12
        hr
      .field.col-xs-12
        span.prop Ngày nhận phòng
        span.value  {{csSearchParams.checkin}}
      .field.col-xs-12
        span.prop Giờ nhận phòng
        span.value  14:00
      .field.col-xs-12
        span.prop Ngày trả phòng
        span.value  {{csSearchParams.checkout}}
      .field.col-xs-12
        span.prop Giờ trả phòng
        span.value  12:00
    .clearfix
  .cs-book-summary.col-xs-12.no-pad
    .cs-room-summary.col-xs-12.col-md-8
      .book-room.col-xs-12(ng-repeat="room in csSearchParams.rooms track by $index")
        .room-num-customer.col-xs-6.col-sm-3
          .num Phòng {{$index + 1}}
        .room-name.col-sm-6.hidden-xs
          .name  {{room.roomName}}
          .package-name {{room.packName}}
        .room-price.col-xs-6.col-sm-3
          .price.col-xs-12.no-pad
            span.unit VND
            span.num {{room.price * csSearchParams.nightNum | currency:'':0}}
            .multi {{multiRoomText($index)}}
          .more-detail.col-xs-12.text-right.no-pad.hide
            a(href="#").brown-text
              span.text Chi tiết
              span.fa.fa-caret-down
          .clearfix
        .clearfix
        .extras-detail.col-sm-9.col-sm-offset-3.show(ng-repeat="group in room.extras track by $index")
          .extra-group(ng-repeat="extra in group.list | filter: selectedItem")
            .extra.col-xs-7.col-sm-7 {{extra.name}}
            .price.col-xs-5.col-sm-5
              span.unit VND
              span.num {{extra.price | currency:'':0}} 
              .multi{{multiExtraText(extra)}}
            .clearfix
      .book-room.col-xs-12
        .room-num-customer.col-xs-4.col-sm-3(style="line-height: 36px")
          .num Coupon
        .room-name.col-xs-6.col-sm-6.hidden-xs
          input(type="text" class="form-control" ng-model="coupon")
        .col-xs-12.col-sm-2
          button.btn.brown-btn(ng-click="checkCoupon()") Kiểm tra
        .clearfix
        .brief.col-xs-8.col-sm-10.no-pad
          span Vui lòng nhập mã khuyễn mãi nếu có
        .result.col-xs-4.col-sm-2
          span {{couponResult}}
        .clearfix
      .book-room.total.col-xs-12
        .room-num-customer.col-xs-6.col-sm-5
          .num.big Tổng cộng
        .room-price.col-xs-6.col-sm-7
          .price.col-xs-12.no-pad.big.text-right
            span.unit VND
            span.num {{getTotalSelectedPrice() | currency:'':0}}
        .clearfix
        .extras-detail.col-sm-9.col-sm-offset-3.show
          .extra-group
            .extra.col-xs-7.col-sm-7 VAT 
            .price.col-xs-5.col-sm-5
              span.unit VND
              span.num {{getTotalSelectedPrice() * 10 / 110 | currency:'':0}} 
            .clearfix
    .cs-features.col-xs-12.col-md-4.text-center
      .feature.col-xs-12.text-center
        .icon.fa.fa-thumbs-up.green
        .title Giá tốt nhất
        .desc Vì đây là website chính thức của công ty nên quý khách sẽ được mức giá tốt nhất khi đặt phòng tại đây
      .feature.col-xs-12
        .icon.fa.fa-credit-card
        .title Thanh toán tức thì
        .desc Quý khách có thể thanh toán qua mạng ngay khi đặt phòng với một phương thức đảm bảo
      .feature.col-xs-12
        .icon.fa.fa-check.green
        .title Không hủy phòng, khổng điều chỉnh
  .cs-book-form.col-xs-12.no-pad
    .cs-guest-info.col-xs-12.col-md-6
      h2.title Thông tin khách hàng
      .form-group
        label Địa chỉ email
        input.form-control(type="email" name="email" required="required")
      .form-group
        .btn-group(data-toggle="buttons")
          .btn.btn-default.active
            input(type="radio" checked="checked")
            span Ông
          .btn.btn-default
            input(type="radio" checked="checked")
            span Bà
      .form-group
        label Họ
        input.form-control(type="text" name="lastname" required="required")
      .form-group
        label Tên
        input.form-control(type="text" name="firstname" required="required")
      .form-group
        label Số điện thoại
        input.form-control(type="text" name="phoneNumber" required="required")

    .cs-payment.col-xs-12.col-md-6
      h2.title Thông tin thanh toán
      .desc.bold.col-xs-12 Toàn bộ số tiền đặt phòng sẽ được thanh toán ngay lập tức với những thông tin dưới đây.
      .desc.col-xs-12 Hệ thống thanh toán của chúng tôi đã được đảm bảo an toàn.
      .clearfix
      .form-container
        .form-group
          label Loại thẻ tín dụng
          select.form-control
            option(value="amex") AMEX
            option(value="diners") DINERS
            option(value="jcb") JCB
            option(value="mastercard") MASTERCARD
            option(value="visa") VISA
        .form-group
          label Mã số thẻ
          input.form-control(type="text" name="phoneNumber" required="required")
        .form-group
          label Tên trên thẻ
          input.form-control(type="text" name="phoneNumber" required="required")
        .form-group
          label.col-xs-12.no-pad Thời gian hết hạn
          .col-xs-4(style="padding-left: 0px")
            select.form-control
              option(value="1") Tháng 1
              option(value="2") Tháng 2
          .col-xs-4
            select.form-control
              option(value="2015") 2015
          .clearfix
        .form-group
          label.col-xs-12.no-pad Mã bảo mật
          input.form-control(type="text" name="phoneNumber" required="required").col-xs-4
          .hint.col-xs-8 3 chữ số cuối sau lưng thẻ của bạn
  .cs-final-step.col-xs-12
    .term.col-xs-12.text-center
      | Nếu bấm nút hoàn tất bên dưới, chúng tôi sẽ xem như bạn đã đọc và đồng ý các
      | &nbsp;
      a(href="#").brown-text điều khoản và điều kiện chung
      | &nbsp;
      | và
      | &nbsp;
      a(href="#").brown-text chính sách
      | &nbsp;
      | của chúng tôi
    .book.col-xs-12
      button.btn.brown-btn.no-rad.col-xs-12.col-sm-offset-4.col-sm-4 Hoàn tất
