.cs-extras-container.col-xs-12.step-container.step-2
  .cs-extra-header
    h2.title Những tuỳ chọn cộng thêm khi ở khách sạn
  .cs-extra-selects
    .caption.col-xs-12.bg-dark3.text-white
      span Các tuỳ chọn
    .cs-extra.col-xs-12.no-pad.bg-light
      .pic.col-sm-3.hidden-xs
        img(src="images/photos/bar4.jpg" alt="booking calmseas")
      .extra-info.col-xs-7.col-sm-5
        .extra-name.col-xs-12 Bữa tối buffet BBQ
        .extra-detail-link.col-xs-12
          a(href="#").brown-text
            span.text Chi tiết
            span.fa.fa-caret-down
        .extra-detail.col-xs-12
          p Tận hưởng bữa ăn tối độc đáo với nhiều món ăn đặc sản và đầy hương vị
          p Thời điểm diễn ra: 6 giờ tối
        .extra-price.col-xs-12
          span.unit VND
          span.num 1,830,000
      .extra-select.col-xs-5.col-sm-4
        span.text Chọn
        span.fa.fa-square-o
    .cs-extra.col-xs-12.no-pad.bg-light
      .pic.col-sm-3.hidden-xs
        img(src="images/photos/bar4.jpg" alt="booking calmseas")
      .extra-info.col-xs-7.col-sm-5
        .extra-name.col-xs-12 Bữa tối buffet BBQ
        .extra-detail-link.col-xs-12
          a(href="#").brown-text
            span.text Chi tiết
            span.fa.fa-caret-down
        .extra-detail.col-xs-12
          p Tận hưởng bữa ăn tối độc đáo với nhiều món ăn đặc sản và đầy hương vị
          p Thời điểm diễn ra: 6 giờ tối
        .extra-price.col-xs-12
          span.unit VND
          span.num 1,830,000
      .extra-select.col-xs-5.col-sm-4
        span.text Chọn
        span.fa.fa-check-square
    .cs-extra.col-xs-12.no-pad.bg-light
      .pic.col-sm-3.hidden-xs
        img(src="images/photos/bar4.jpg" alt="booking calmseas")
      .extra-info.col-xs-7.col-sm-5
        .extra-name.col-xs-12 Bữa tối buffet BBQ
        .extra-detail-link.col-xs-12
          a(href="#").brown-text
            span.text Chi tiết
            span.fa.fa-caret-down
        .extra-detail.col-xs-12
          p Tận hưởng bữa ăn tối độc đáo với nhiều món ăn đặc sản và đầy hương vị
          p Thời điểm diễn ra: 6 giờ tối
        .extra-price.col-xs-12
          span.unit VND
          span.num 1,830,000
      .extra-select.col-xs-5.col-sm-4
        span.text Chọn
        span.fa.fa-square-o
    .cs-extra.col-xs-12.no-pad.bg-light
      .pic.col-sm-3.hidden-xs
        img(src="images/photos/bar4.jpg" alt="booking calmseas")
      .extra-info.col-xs-7.col-sm-5
        .extra-name.col-xs-12 Bữa tối buffet BBQ
        .extra-detail-link.col-xs-12
          a(href="#").brown-text
            span.text Chi tiết
            span.fa.fa-caret-down
        .extra-detail.col-xs-12
          p Tận hưởng bữa ăn tối độc đáo với nhiều món ăn đặc sản và đầy hương vị
          p Thời điểm diễn ra: 6 giờ tối
        .extra-price.col-xs-12
          span.unit VND
          span.num 1,830,000
      .extra-select.col-xs-5.col-sm-4
        span.text Chọn
        span.fa.fa-square-o
  .cs-extra-selects
    .caption.col-xs-12.bg-dark3.text-white
      span Yêu cầu đặc biệt
    .cs-special-request.col-xs-12.no-pad
      .col-xs-12
        textarea.form-control(placeholder="Nội dung yêu cầu")
      .col-xs-12.desc Những yêu cầu này sẽ được chúng tôi xem xét và sẽ làm hết sức mình để quý khách hài lòng.