footer#footer 
	.map
		.switcher
			i.fa.fa-map-marker
		.map-wrap
			iframe(frameborder="0", src="https://www.google.com/maps/embed?key=AIzaSyB3uqHUhv3mLckXYMGvCDXB6F9WCUpsL6A&pb=!1m18!1m12!1m3!1d974.65087690638!2d109.20191279718257!3d12.27508887145052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xe24a7a48d7f8d0a2!2sCalm+Seas!5e0!3m2!1svi!2s!4v1433037556092")
