.cs-room-select-summary.step-container.step-2.step-1
  .total.col-xs-12.no-pad
    .title.col-xs-6.no-pad
      .col-xs-12.lb Tổng cộng
      .col-xs-12.detail
        a(href="#").brown-text
          span Chi tiết
          span.fa.fa-caret-down
    .sum.col-xs-6
      .price.col-xs-12.no-pad.text-right
        span.unit VND
        span.num 2,420,000
      .room-night.col-xs-12.no-pad.text-right
        span.room 1 phòng
        span ,
        span.night 1 đêm
    .clearfix
  .summary-detail.col-xs-12
    .night.col-xs-12
      .text.col-xs-7 Đêm 1
      .price.col-xs-5
        span.unit VND
        span.num 1,200,000
    .total-price.col-xs-12
      .text.col-xs-7 Tổng cộng
      .price.col-xs-5
        span.unit VND
        span.num 4,200,000
    .included.col-xs-12
      .text Bao gồm
    .addition.col-xs-12
      .text.col-xs-7 Dịch vụ
      .price.col-xs-5
        span.unit VND
        span.num 108,00
    .addition.col-xs-12
      .text.col-xs-7 VAT
      .price.col-xs-5
        span.unit VND
        span.num 408,00
  .room.selected.col-xs-12.no-pad
    .room-num.col-xs-4 Phòng 1
    .price.col-xs-8.text-right
      span.unit VND
      span.num 2,410,000
    .room-name.col-xs-12 Standard
    .package-name.col-xs-12 GÓI TIẾT KIỆM MÙA HÈ
    .remove-btn.col-xs-12.text-center
      a(href="#").remove.brown-text Xóa
  .room.remain.col-xs-12.no-pad.text-center
    span.text Chọn phòng 2
  .room.remain.col-xs-12.no-pad.text-center
    span.text Chọn phòng 3
  .room.selected.col-xs-12.no-pad
    .room-num.col-xs-4 Gói thêm
    .price.col-xs-8.text-right
      span.unit VND
      span.num 2,410,000
    .detail-link.col-xs-12 
      a(href="#").brown-text
        span.text Chi tiết
        span.fa.fa-caret-down
  .room.selected.detail.col-xs-12.no-pad
    .extra-name.col-xs-6 Bữa tối buffet BBQ
    .price.col-xs-6.text-right
      span.unit VND
      span.num 2,410,000
    .remove.col-xs-12
      a(href="#").brown-text
        span.text Bỏ
  .book-button.col-xs-12.no-pad
    button.btn.brown-btn.no-rad.col-xs-12.no-pad Đặt phòng