.cs-room-select-summary.step-container.step-2.step-1(room-select-summary)
  .fixed-widget
    .summary-brief.col-xs-8.col-sm-7.hidden-md.hidden-lg
      .sum-line.title.visible-sm.col-sm-6 Tổng cộng
      .sum-line.up-arrow.visible-xs.col-xs-4.brown-text(ng-click="showUpSummary($event)")
        span.fa.fa-caret-up
      .sum-line.price.col-xs-8.col-sm-6
        span.unit VND
        span.num {{getTotalSelectedPrice(true) | currency:'':0}}
      .sum-line.detail-link.visible-sm.col-sm-6
        a(href="#").brown-text(ng-click="showUpSummary($event)")
          span.text Chi tiết
          span.fa.fa-caret-up
      .sum-line.roomnight.col-xs-8.col-sm-6
          span.room {{csSearchParams.roomSelected}} phòng,
          span.night  {{csSearchParams.nightNum}} đêm
    button.button.brown-btn.col-xs-4.col-sm-5.hidden-md.hidden-lg(ng-click="nextStep($event)") {{labels.validateBtnText}}
  .summary-content
    .total.col-xs-12.no-pad.desk-mode
      .title.col-xs-6.no-pad
        .col-xs-12.lb Tổng cộng
        .col-xs-12.detail
          a(href="#").brown-text.detail(ng-click="toggleDetail($event, 'detailtotal11')")
            span Chi tiết
            span.fa.fa-caret-down
      .sum.col-xs-6
        .price.col-xs-12.no-pad.text-right
          span.unit VND
          span.num {{getTotalSelectedPrice(true) | currency:'':0}}
        .room-night.col-xs-12.no-pad.text-right
          span.room {{csSearchParams.roomSelected}} phòng
          span ,
          span.night {{csSearchParams.nightNum}} đêm
      .clearfix
    .summary-content-container.col-xs-12.no-pad
      .summary-detail.col-xs-12#detailtotal11
        .night.col-xs-12(ng-repeat="night in getNightPrice() track by $index")
          .text.col-xs-7 Đêm {{$index + 1}}
          .price.col-xs-5
            span.unit VND
            span.num {{night | currency:'':0}}
        .total-price.col-xs-12
          .text.col-xs-7 Tổng cộng
          .price.col-xs-5
            span.unit VND
            span.num {{getTotalSelectedPrice() | currency:'':0}}
        .included.col-xs-12
          .text Bao gồm
        .addition.col-xs-12
          .text.col-xs-7 Dịch vụ
          .price.col-xs-5
            span.unit VND
            span.num {{0 | currency:'':0}}
        .addition.col-xs-12
          .text.col-xs-7 VAT
          .price.col-xs-5
            span.unit VND
            span.num {{0 | currency:'':0}}
      .room.col-xs-12.no-pad.desk-mode(ng-repeat="room in csSearchParams.rooms track by $index")
        .room-info
          .room-num.col-xs-4 Gói phòng {{$index + 1}}
          .price.col-xs-8.text-right
            span.unit VND
            span.num {{room.price * csSearchParams.nightNum | currency:'':0}} {{multiRoomText($index)}}
          .room-name.col-xs-12 {{room.roomName}}
          .package-name.col-xs-12 {{room.packName}}
          .remove-btn.col-xs-12.text-center
            a(href="#").remove.brown-text(ng-click="removeRoom($event, room.id)") Xóa
      .room.selected.extra.col-xs-12.no-pad.desk-mode
        .room-num.col-xs-4 Gói thêm
        .price.col-xs-8.text-right
          span.unit VND
          span.num {{getPriceSelectedExtra() | currency:'':0}}
        .detail-link.col-xs-12
          a(href="#").brown-text.detail-link(ng-click="toggleDetail($event, 'detail111')")
            span.text Chi tiết
            span.fa.fa-caret-up
      .room.selected.detail.col-xs-12.no-pad#detail111
        .room-extra(ng-repeat="room in csSearchParams.rooms track by $index")
          .extra-group(ng-repeat="group in room.extras track by $index")
            .extra-selected(ng-repeat="extra in group.list | filter: selectedItem ")
              .extra-name.col-xs-6 {{extra.name}}
              .price.col-xs-6.text-right
                span.unit VND
                span.num {{extra.price | currency:'':0}} {{multiExtraText(extra)}}
              .remove.col-xs-12
                a(href="#").brown-text(ng-click="toggleExtra($event, extra)")
                  span.text Bỏ
              .clearfix
            .clearfix
    .book-button.col-xs-12.no-pad.desk-mode
      button.btn.brown-btn.no-rad.col-xs-12.no-pad(ng-click="nextStep($event)") {{labels.validateBtnText}}
    .clearfix
