.cs-result-rooms.cs-rooms-standard
  .caption.col-xs-12.bg-dark3.text-white
    span Stardard room
  .gallery-slider.col-xs-12.no-pad
    img(src="images/photos/standar1.jpg" alt="calmseas booking")
  .more-detail.col-xs-12
    .more-detail-link
      a(href="#")
        span Thông tin và hình ảnh cụ thể
        span.fa.fa-caret-right
  .cs-room-package.col-xs-12.bg-light
    .cs-package-name.col-xs-7.col-sm-9
      span.upper.name GÓI KHÔNG BỮA SÁNG
      a(href="#").brown-text
        span Details
        span.fa.fa-caret-down
    .cs-package-price.col-xs-5.col-sm-3.no-pad.text-right
      .cs-amount.col-xs-12
        span.unit VND
        span.num 1,200,000
      .cs-rp-sum.col-xs-12
        span.night 2 đêm
        span ,
        span.person 1 người lớn
    .cs-package-info.col-sm-9.hidden-xs.no-pad
      .feature.col-sm-4
        span.col-sm-2.fa.fa-close.no-pad
        span.col-sm-10.prop.no-pad Không bao gồm bữa sáng
      .feature.col-sm-4
        span.col-sm-2.fa.fa-close.no-pad
        span.col-sm-10.prop.no-pad Không hủy phòng, không điều chỉnh sau khi đặt
      .feature.col-sm-4
        span.col-sm-2.fa.fa-credit-card.no-pad
        span.col-sm-10.prop.no-pad Thanh toán ngay
    .cs-package-book.col-xs-12.col-sm-3
      button.btn.btn-block.no-rad.brown-btn
        span.book-text Chọn phòng
    .cs-package-detail.col-xs-12.visible-xs
      span.detail-text Xem chi tiết
      i.fa.fa-caret-down
  .cs-feature-detail.col-xs-12.no-pad
    .col-xs-12.no-pad.lb
      .title.col-sm-9.hidden-xs.no-pad Không hủy phòng, không điều chỉnh
      .close-btn.col-sm-3.hidden-xs.no-pad.text-right
        a(href="#").brown-text Đóng
    .content.col-xs-12.no-pad Trong trường hợp khách hàng không đến đúng hẹn thì toàn bộ số tiền dùng để đặt phòng vẫn được thành toán theo thông tin đặt phòng
    .clearfix
      .col-sm-12.term.text-right
        a(href="#").brown-text Chính sách và điều kiện
  .cs-room-package.col-xs-12.bg-light
    .cs-package-name.col-xs-7.col-sm-9
      span.upper.name GÓI TIẾT KIỆM MÙA HÈ
      a(href="#").brown-text
        span Details
        span.fa.fa-caret-down
    .cs-package-price.col-xs-5.col-sm-3.no-pad.text-right
      .cs-amount.col-xs-12
        span.unit VND
        span.num 1,200,000
      .cs-rp-sum.col-xs-12
        span.night 2 đêm
        span ,
        span.person 1 người lớn
    .cs-package-info.col-sm-9.hidden-xs.no-pad
      .feature.col-sm-4
        span.col-sm-2.fa.fa-close.no-pad
        span.col-sm-10.prop.no-pad Không bao gồm bữa sáng
      .feature.col-sm-4
        span.col-sm-2.fa.fa-close.no-pad
        span.col-sm-10.prop.no-pad Không hủy phòng, không điều chỉnh sau khi đặt
      .feature.col-sm-4
        span.col-sm-2.fa.fa-credit-card.no-pad
        span.col-sm-10.prop.no-pad Thanh toán ngay
    .cs-package-book.col-xs-12.col-sm-3
      button.btn.btn-block.no-rad.brown-btn
        span.book-text Chọn phòng
    .cs-package-detail.col-xs-12.visible-xs
      span.detail-text Xem chi tiết
      i.fa.fa-caret-down
  .cs-room-package.col-xs-12.bg-light
    .cs-package-name.col-xs-7.col-sm-9
      span.upper.name GÓI BUFFET VÀ BỮA SÁNG
      a(href="#").brown-text
        span Details
        span.fa.fa-caret-down
    .cs-package-price.col-xs-5.col-sm-3.no-pad.text-right
      .cs-amount.col-xs-12
        span.unit VND
        span.num 1,200,000
      .cs-rp-sum.col-xs-12
        span.night 2 đêm
        span ,
        span.person 1 người lớn
    .cs-package-info.col-sm-9.hidden-xs.no-pad
      .feature.col-sm-4
        span.col-sm-2.fa.fa-coffee.no-pad
        span.col-sm-10.prop.no-pad Có bao gồm bữa sáng
      .feature.col-sm-4
        span.col-sm-2.fa.fa-close.no-pad
        span.col-sm-10.prop.no-pad Không hủy phòng, không điều chỉnh sau khi đặt
      .feature.col-sm-4
        span.col-sm-2.fa.fa-credit-card.no-pad
        span.col-sm-10.prop.no-pad Thanh toán ngay
    .cs-package-book.col-xs-12.col-sm-3
      button.btn.btn-block.no-rad.brown-btn
        span.book-text Chọn phòng
    .cs-package-detail.col-xs-12.visible-xs
      span.detail-text Xem chi tiết
      i.fa.fa-caret-down
  .clearfix
.clearfix
