footer#footer
  #main-footer
   .container-center
      .contact.contact-social
        a(href="#").facebook
        a(href="#").twitter
      .addition-nav
        +nav([
          {href: "vi/gallery.html", title: "Thư viện ảnh"},
          {href: "vi/contact.html", title: "Liên hệ"},
        ])
