extends ../layouts/vi-layout

block vars
  -title = 'Phòng Deluxe 2 hướng biển'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #main-slider.homepage
    .slider-container(data-home-slider)
      .slide(data-url="images/photos/twin1.jpg")
      .slide(data-url="images/photos/twin2.jpg")
      .slide(data-url="images/photos/twin3.jpg")
      .slide(data-url="images/photos/twin4.jpg")
      .slider-nav
        .arrow.prev
        .arrow.next
  #page-info
    .outer
      h2 Phòng Deluxe 2 hướng biển
      .content(data-mcscrollbar)
        p Được thiết kế bởi đội ngũ Kiến trúc sư chuyên nghiệp và dụng ý mong muốn đem đến cho Du khách những trải nghiệm ấn tượng, đặc biệt nhất. Với 4 loại phòng theo quy chuẩn từ Stadard, Deluxe, Deluxe Double đến Suite được trang bị nội thất sang trọng và bày trí hài hòa, tinh tế từ những tiểu tiết nhỏ nhắn đến tầm nhìn tổng thể. Tận hưởng tiện nghi từ vẻ đẹp nội thất và thưởng ngoạn không gian khoáng đạt với biển khơi sẽ là những giây phút tuyệt vời nhất trong hành trình nghỉ dưỡng của chính Du khách.