extends ../layouts/vi-layout

block vars
  -title = 'HẠNG PHÒNG'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #main-slider.homepage
    .slider-container(data-home-slider)
      .slide(data-url="images/photos/room1.jpg")
      .slide(data-url="images/photos/room2.jpg")
      .slide(data-url="images/photos/room3.jpg")
      .slide(data-url="images/photos/room4.jpg")
      .slider-nav
        .arrow.prev
        .arrow.next
  #page-info
    .outer
      h2 HẠNG PHÒNG
      .content(data-mcscrollbar)
        p Calm Seas có các loại phòng thích hợp khác nhau cho Quý khách lựa chọn từ phòng rộng 24m2 đến phòng cao cấp sang trọng hướng biển . Tất cả các phòng được thiết kế theo triết lý Tự Nhiên với nội thất được làm từ vật liệu địa phương mang đậm chất văn hóa và tỉ mỉ đến từng chi tiết. Luôn chạm đến những điều mà quý khách không ngờ đến là điều làm chúng tôi tự hào nhất … Những chi tiết nhỏ sẽ tạo nên sự khác biệt để mang lại cho quý khách một kỳ nghỉ thoải mái cùng những kỉ niệm đáng nhớ trong đời.
      


