extends ../layouts/vi-layout

block vars
  -title = 'Bãi tắm riêng'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #main-slider.homepage
    .slider-container(data-home-slider)
      .slide(data-url="images/photos/meal1.jpg")
      .slide(data-url="images/photos/meal2.jpg")
      .slide(data-url="images/photos/meal3.jpg")
      .slide(data-url="images/photos/meal4.jpg")
      .slider-nav
        .arrow.prev
        .arrow.next
  #page-info
    .outer
      h2  Bãi tắm riêng
      .content(data-mcscrollbar)
        p Đến với trải nghiệm thật đặc biệt trước biển khơi rộng lớn mà đầy riêng tư với Bãi tắm riêng của Calm Sea ngay trước Khách Sạn sẽ mang đến cho Du khách cảm giác được phục vụ ấn tượng nhất. Hòa mình vào làn nước biển trong mát bậc nhất Nha Trang vỗ đều dải cát mịn trải dài, cùng hàng dừa xanh ngát,.., như tất cả yêu chiều của thiên nhiên đều hiện hữu cho riêng mình, để cho tâm hồn thư thái nhất.