extends ../layouts/vi-layout

block vars
  -title = 'Giới thiệu'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #main-slider.homepage
    .slider-container(data-home-slider)
      .slide(data-url="images/photos/about1.jpg")
      .slide(data-url="images/photos/about2.jpg")
      .slide(data-url="images/photos/about3.jpg")
      .slide(data-url="images/photos/about4.jpg")
      .slider-nav
        .arrow.prev
        .arrow.next
  #page-info
    .outer
      h2 GIỚI THIỆU
      .content(data-mcscrollbar)
        p Calm Sea mở ra trước mắt Du khách với vẻ đẹp bất tận từ biển khơi.  Nơi để tâm hồn được trở nên hoàn toàn thư thái khi được hòa cùng với thiên nhiên cuốn hút của Vịnh biển đẹp hàng đầu Việt Nam.
        p Tọa lạc trên vị trí đẹp nhất của đường Phạm Văn Đồng, nơi có dải biển dài thoải êm như chính âm điệu mà Khách sạn mang tên “Biển Êm” không chỉ đem đến cho Du khách những trải nghiệm ấn tượng nhất từ đại dương nhịp nhàng, quyến rũ theo muôn trùng sóng; mà nơi đây còn là trung tâm hội tụ của quần thể các Danh lam thắng cảnh độc đáo bậc nhất Nha Trang khi đứng trên Khách sạn có thể dễ dàng chiêm ngưỡng như: Bãi đá Hòn chồng - Hòn vợ huyền thoại, lung linh nhô cao giữa thềm biển hay Tháp bà Ponagar sáng rực phía Thành Phố,.., .
        p Với kiến trúc hiện đại và hài hòa gồm 17 tầng, đem đến 72 phòng từ Standard ấm cúng đến Suite sang trọng, Du khách có thể dễ dàng lựa chọn không gian thích hợp nhất cho mình và người thân cùng thưởng ngoạn không gian trong lành, khoáng đạt từ đại dương bao la.
        p Không chỉ ấn tượng với “Breathtaking Ocean View’s”, Du khách còn nhận được sự phục vụ chu đáo, chuyên nghiệp từ các dịch vụ tiện ích, thiết thực mà độc đáo của Calm Sea. Đặc biệt, với hệ thống nhà hàng và quầy Bar của Khách sạn; nơi hội tụ những món ngon đặc sản của Phố biển Nha Trang, đến các tùy chọn đặc trưng khắp 3 Miền Việt Nam và Á - Âu nổi tiếng, chắc chắn sẽ đem đến sự hài lòng khác biệt đến từng sở thích riêng của Du khách.
        p Đến Calm Sea, là đến với vẻ đẹp hội tụ của Vịnh biển Nha Trang, là đến với sự thưởng thức cuộc sống tuyệt diệu không chỉ từ đại dương. Nơi đây được trở nên hoàn mỹ hơn chính từ những nụ cười, những cử chỉ ân cần luôn luôn hiện hữu từ đội ngũ Nhân viên chuyên nghiệp, đầy tâm huyết.
        p Khách Sạn Calm Seas rất hận hạnh được phục vụ Quý Khách !


