extends ../layouts/vi-offer-layout

block vars
  -title = 'Special Offers'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #sp-offers-container
    .offer-wrap(data-flip)
      .front
        .outer
          .inner
            h2.title Gói ưu đãi Standard
            .des
              .del-price 820,000 VNĐ
              .cur-price 615,000 VNĐ
            .photo-wrap
              img(src="images/photos/room3.jpg", title="", alt="Suite room offer ")
            .read-more  CHI TIẾT
      .back
        .outer
          .inner
            h2.title Gói ưu đãi Standard
            .des
            .photo-wrap
              img(src="images/photos/room3.jpg", title="", alt="Suite room offer ")
            ul.specs
              li 
                i.fa.fa-hotel
                span Loại gường: Single ( 1 giường 1,4m * 2m )
              li 
                i.fa.fa-hotel
                span Diện tích phòng: 18 m
                sup 2
              li 
                i.fa.fa-camera
                span Hướng nhìn: Hướng phố
              li 
                i.fa.fa-street-view
                span Ban công: Không ban công
              li 
                i.fa.fa-street-view
                span Mặt sàn: Gỗ cao cấp
              li 
                i.fa.fa-coffee
                span Dịch vụ tận phòng: từ 6 giờ sáng đến 10 giờ tối
    
    .offer-wrap.for-mobile
      .outer
        .inner
          h2.title Deluxe room offer
          .des
          .photo-wrap
            img(src="images/photos/room2.jpg", title="", alt="Deluxe room offer")
          ul.specs
            li 
              i.fa.fa-hotel
              span Loại gường: Single ( 1 giường 1,4m * 2m )
            li 
              i.fa.fa-hotel
              span Diện tích phòng: 18 m
              sup 2
            li 
              i.fa.fa-camera
              span Hướng nhìn: Hướng phố
            li 
              i.fa.fa-street-view
              span Ban công: Không ban công
            li 
              i.fa.fa-street-view
              span Mặt sàn: Gỗ cao cấp
            li 
              i.fa.fa-coffee
              span Dịch vụ tận phòng: từ 6 giờ sáng đến 10 giờ tối
    .offer-wrap(data-flip)
      .front
        .outer
          .inner
            h2.title Gói ưu đãi Deluxe
            .des
              .del-price 1,200,000 VNĐ
              .cur-price 900,000 VNĐ
            .photo-wrap
              img(src="images/photos/room3.jpg", title="", alt="Suite room offer ")
            .read-more  CHI TIẾT
      .back
        .outer
          .inner
            h2.title Gói ưu đãi Deluxe
            .des
            .photo-wrap
              img(src="images/photos/room3.jpg", title="", alt="Suite room offer ")
            ul.specs
              li 
                i.fa.fa-hotel
                span Loại gường: Double/Twin ( 1 giường 1,8 x 2m hoặc 1,1m x 2 giường )
              li 
                i.fa.fa-hotel
                span Diện tích phòng: 25 m
                sup 2
              li 
                i.fa.fa-camera
                span Hướng nhìn: Hướng biển
              li 
                i.fa.fa-street-view
                span Ban công: Không ban công
              li 
                i.fa.fa-street-view
                span Mặt sàn: Gỗ cao cấp
              li 
                i.fa.fa-coffee
                span Dịch vụ tận phòng: từ 6 giờ sáng đến 10 giờ tối
    
    .offer-wrap.for-mobile
      .outer
        .inner
          h2.title Deluxe room offer
          .des
          .photo-wrap
            img(src="images/photos/room2.jpg", title="", alt="Deluxe room offer")
          ul.specs
            li 
              i.fa.fa-hotel
              span Loại gường: Double/Twin ( 1 giường 1,8 x 2m hoặc 1,1m x 2 giường )
            li 
              i.fa.fa-hotel
              span Diện tích phòng: 25 m
              sup 2
            li 
              i.fa.fa-camera
              span Hướng nhìn: Hướng biển
            li 
              i.fa.fa-street-view
              span Ban công: Không ban công
            li 
              i.fa.fa-street-view
              span Mặt sàn: Gỗ cao cấp
            li 
              i.fa.fa-coffee
              span Dịch vụ tận phòng: từ 6 giờ sáng đến 10 giờ tối
    .offer-wrap(data-flip)
      .front
        .outer
          .inner
            h2.title Gói ưu đãi Suite
            .des
              .del-price 1,700,000 VNĐ
              .cur-price 1,275,000 VNĐ
            .photo-wrap
              img(src="images/photos/room3.jpg", title="", alt="Suite room offer ")
            .read-more  CHI TIẾT
      .back
        .outer
          .inner
            h2.title Gói ưu đãi Suite
            .des
            .photo-wrap
              img(src="images/photos/room3.jpg", title="", alt="Suite room offer ")
            ul.specs
              li 
                i.fa.fa-hotel
                span Loại gường: Double King-size ( 1 giường 2m * 2m )
              li 
                i.fa.fa-hotel
                span Diện tích phòng: Từ 36 đến 40 m
                sup 2
              li 
                i.fa.fa-camera
                span Hướng nhìn: Hướng biển
              li 
                i.fa.fa-street-view
                span Ban công: Không ban công
              li 
                i.fa.fa-street-view
                span Mặt sàn: Gỗ cao cấp
              li 
                i.fa.fa-coffee
                span Dịch vụ tận phòng: từ 6 giờ sáng đến 10 giờ tối
    
    .offer-wrap.for-mobile
      .outer
        .inner
          h2.title Deluxe room offer
          .des
          .photo-wrap
            img(src="images/photos/room2.jpg", title="", alt="Deluxe room offer")
          ul.specs
            li 
              i.fa.fa-hotel
              span Loại gường: Double King-size ( 1 giường 2m * 2m )
            li 
              i.fa.fa-hotel
              span Diện tích phòng: Từ 36 đến 40 m2
              sup 2
            li 
              i.fa.fa-camera
              span Hướng nhìn: Hướng biển
            li 
              i.fa.fa-street-view
              span Ban công: Không ban công
            li 
              i.fa.fa-street-view
              span Mặt sàn: Gỗ cao cấp
            li 
              i.fa.fa-coffee
              span Dịch vụ tận phòng: từ 6 giờ sáng đến 10 giờ tối