extends layouts/layout

block vars
  -title = 'Booking calmseas'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #booking-container.booking-container(ng-app="calm-booking" ng-controller="booking-central")
    include blocks/booking-header
    include blocks/booking-steps
    include blocks/room-search-form
    .container.no-pad.step-container.step-1.step-2
      .cs-search-result.col-xs-12.step-container.step-1
        .cs-result-header
          h2.title Danh sách phòng tìm được
          h4.best-choice Bạn có thể tìm được phòng với giá tốt nhất. Vì đây thuộc website chính thức của khách sạn
        include blocks/search-result-room
      include blocks/extra-selector
      include blocks/room-select-summary
    include blocks/booking-confirm


    div(style="height: 200px")
