extends layouts/layout

block vars
  -title = 'Booking calmseas'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #booking-container.booking-container
    header.cs-header(style="background-image: url(images/header-bg.jpg); background-repeat: no-repeat")
      .header-toolbar.col-xs-12
      h1.header-hotel-brief.col-xs-12
        span.hotel-name.bold-text Calmseas Nha Trang Hotel
        span.stars
          .fa.fa-star
          .fa.fa-star
          .fa.fa-star
        span.hotel-info
          .fa.fa-info-circle
          span Hotel information
      .header-steps.col-xs-12
        .container
          .step-nav.step-1.col-xs-4.col-md-4.text-left.active
            span.step-num 1
            span.step-text.hidden-xs Chọn phòng
          .step-nav.step-2.col-xs-4.col-md-4.text-center
            span.step-num 2
            span.step-text.hidden-xs Chọn gói cộng thêm
          .step-nav.step-3.col-xs-4.col-md-4.text-right
            span.step-num 3
            span.step-text.hidden-xs Đặt phòng
    .cs-search-container
      .container.editing.no-pad
        .cs-search-button.text-center.col-xs-12.col-sm-12.col-md-3
          span.bold-text CHỈNH TÙY CHỌN
          .fa.fa-caret-down
        .cs-search-summary.col-xs-12.col-sm-12.col-md-9
          .cs-search-day.col-xs-12.col-sm-12.col-md-7
            .checkin.col-xs-12.col-sm-6.col-md-6
              .title
                .fa.fa-calendar.left-i
                span.bold-text.lb Ngày đến
                span.content
                  span.text 16-05-2015
                  span.field
                    input#checkin.col-xs-12.col-sm-12.col-md-12.form-control.input-sm.hasDatepicker(type='text', name='arrival', readonly='readonly', style='')
            .checkout.col-xs-12.col-sm-6.col-md-6
              .title
                .fa.fa-calendar.left-i
                span.bold-text.lb Ngày đi
                span.content
                  span.text 18-05-2015
                  span.field
                    input#checkin.col-xs-12.col-sm-12.col-md-12.form-control.input-sm.hasDatepicker(type='text', name='arrival', readonly='readonly', style='')
          .cs-search-rooms.col-xs-6.col-sm-6.col-md-5(style="display: none")
            .cs-search-room.col-md-4
                span.bold-text.lb Phòng 1
                span.content
                  span.text 1 người lớn - 2 trẻ em
            .cs-search-room.col-md-4
                span.bold-text.lb Phòng 2
                span.content
                  span.text 1 người lớn
            .cs-search-room.col-md-4
                span.bold-text.lb Phòng 3
                span.content
                  span.text 2 người lớn
          .clearfix
        .clearfix
        .cs-search-form.bg-dark3
          form
            .cs-room.col-xs-12.col-sm-12.col-md-12
              .cs-room-title.pad-top.col-xs-12.col-sm-3.col-md-2
                span
                  span.col-xs-9.col-sm-12.col-md-12
                    span.fa.fa-hotel
                    span.room-num Phòng 1
              .cs-room-adults.pad-top.col-xs-12.col-sm-4.col-md-4
                .col-xs-6.col-sm-6.col-md-6
                  .input-group
                    span.input-group-btn
                      button#less-adults-1.btn.btn-sm.brown-btn -
                    input#adults1.form-control.input-sm(type='text', name='adults1')
                    span.input-group-btn
                      button#more-adults-1.btn.btn-sm.brown-btn +
                .col-xs-6.col-sm-6.col-md-6.unit
                  span.f(data-key='adult', data-mode='1', data-fallback='', data-placeholders='%20')   adult
              .cs-room-people.pad-top.col-xs-12.col-sm-4.col-md-4
                .col-xs-12.col-sm-12.col-md-12
                  .col-xs-6.col-sm-6.col-md-6
                    .input-group
                      span.input-group-btn
                        button#less-children-1.btn.btn-sm.brown-btn -
                      input#children1.form-control.input-sm(type='text', name='children1')
                      span.input-group-btn
                        button#more-children-1.btn.btn-sm.brown-btn +
                  .col-xs-6.col-sm-6.col-md-6.unit
                    span.fb-translate(data-key='child', data-mode='1', data-fallback='', data-placeholders='%20')   child
                    i.fa.fa-info-circle(title='(0-12 years)')
                .child-age
                  .col-xs-12(style='margin-top: 10px; padding:0px')
                    .col-xs-6.col-sm-6.col-md-6.unit(style='text-align:right; padding-left:0px; padding-right:5px;')
                      span Age Child 1
                    .col-xs-6.col-sm-6.col-md-6
                      .input-group
                        span.input-group-btn
                          button#less-childrenAges-1-1.btn.btn-sm.brown-btn -
                        input#childrenAges1-1.form-control.input-sm(type='text', data-child='1', name='childrenAges1-1')
                        span.input-group-btn
                          button#more-childrenAges-1-1.btn.btn-sm.brown-btn +
            .cs-room.col-xs-12.col-sm-12.col-md-12
              .cs-room-title.pad-top.col-xs-12.col-sm-3.col-md-2
                span
                  span.col-xs-9.col-sm-12.col-md-12
                    span.fa.fa-hotel
                    span.room-num Phòng 1
              .cs-room-adults.pad-top.col-xs-12.col-sm-4.col-md-4
                .col-xs-6.col-sm-6.col-md-6
                  .input-group
                    span.input-group-btn
                      button#less-adults-1.btn.btn-sm.brown-btn -
                    input#adults1.form-control.input-sm(type='text', name='adults1')
                    span.input-group-btn
                      button#more-adults-1.btn.btn-sm.brown-btn +
                .col-xs-6.col-sm-6.col-md-6.unit
                  span.f(data-key='adult', data-mode='1', data-fallback='', data-placeholders='%20')   adult
              .cs-room-people.pad-top.col-xs-12.col-sm-4.col-md-4
                .col-xs-12.col-sm-12.col-md-12
                  .col-xs-6.col-sm-6.col-md-6
                    .input-group
                      span.input-group-btn
                        button#less-children-1.btn.btn-sm.brown-btn -
                      input#children1.form-control.input-sm(type='text', name='children1')
                      span.input-group-btn
                        button#more-children-1.btn.btn-sm.brown-btn +
                  .col-xs-6.col-sm-6.col-md-6.unit
                    span.fb-translate(data-key='child', data-mode='1', data-fallback='', data-placeholders='%20')   child
                    i.fa.fa-info-circle(title='(0-12 years)')
                .child-age
                  .col-xs-12(style='margin-top: 10px; padding:0px')
                    .col-xs-6.col-sm-6.col-md-6.unit(style='text-align:right; padding-left:0px; padding-right:5px;')
                      span Age Child 1
                    .col-xs-6.col-sm-6.col-md-6
                      .input-group
                        span.input-group-btn
                          button#less-childrenAges-1-1.btn.btn-sm.brown-btn -
                        input#childrenAges1-1.form-control.input-sm(type='text', data-child='1', name='childrenAges1-1')
                        span.input-group-btn
                          button#more-childrenAges-1-1.btn.btn-sm.brown-btn +
            .cs-room.col-xs-12.col-sm-12.col-md-12
              .cs-room-title.pad-top.col-xs-12.col-sm-3.col-md-2
                span
                  span.col-xs-9.col-sm-12.col-md-12
                    span.fa.fa-hotel
                    span.room-num Phòng 1
                      span.col-xs-12.col-sm-12.col-md-12.no-pad(style='line-height: 1rem;')
                        a.cs-room-remove(href='#')
                          span Remove
              .cs-room-adults.pad-top.col-xs-12.col-sm-4.col-md-4
                .col-xs-6.col-sm-6.col-md-6
                  .input-group
                    span.input-group-btn
                      button#less-adults-1.btn.btn-sm.brown-btn -
                    input#adults1.form-control.input-sm(type='text', name='adults1')
                    span.input-group-btn
                      button#more-adults-1.btn.btn-sm.brown-btn +
                .col-xs-6.col-sm-6.col-md-6.unit
                  span.f(data-key='adult', data-mode='1', data-fallback='', data-placeholders='%20')   adult
              .cs-room-people.pad-top.col-xs-12.col-sm-4.col-md-4
                .col-xs-12.col-sm-12.col-md-12
                  .col-xs-6.col-sm-6.col-md-6
                    .input-group
                      span.input-group-btn
                        button#less-children-1.btn.btn-sm.brown-btn -
                      input#children1.form-control.input-sm(type='text', name='children1')
                      span.input-group-btn
                        button#more-children-1.btn.btn-sm.brown-btn +
                  .col-xs-6.col-sm-6.col-md-6.unit
                    span.fb-translate(data-key='child', data-mode='1', data-fallback='', data-placeholders='%20')   child
                    i.fa.fa-info-circle(title='(0-12 years)')
                .child-age
                  .col-xs-12(style='margin-top: 10px; padding:0px')
                    .col-xs-6.col-sm-6.col-md-6.unit(style='text-align:right; padding-left:0px; padding-right:5px;')
                      span Age Child 1
                    .col-xs-6.col-sm-6.col-md-6
                      .input-group
                        span.input-group-btn
                          button#less-childrenAges-1-1.btn.btn-sm.brown-btn -
                        input#childrenAges1-1.form-control.input-sm(type='text', data-child='1', name='childrenAges1-1')
                        span.input-group-btn
                          button#more-childrenAges-1-1.btn.btn-sm.brown-btn +

            .clearfix
        .cs-search

